*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: skyblue;
}
table
{
    margin: 200px 50px 0 50px;
    background-color: green;
    border-radius: 60px;  
    padding: 20px;  
}
tr
{ 
    display: inline; 
       
}
.Column_1
{
    width: 200px;
    height: 45px;
    border-radius: 10px;
    background-color: black;
    color: white;
    text-align: center;
}
#Blank
{
    width: 750px;
    
     
}
#ArrowUp
{
    width: 100%;
    border-radius: 10px;
    height: 50%;
}
#ArrowDown
{
    width: 100%;
    border-radius: 10px;
    height: 50%;   
}

#ArrowLeft
{
    width: 100px;
}
#ArrowRight
{
    width: 100px;
}
#Up_down
{
    width: 140px;
}
#Shift
{
    width: 450px;
}
#Home, #End, #PageDown, #PageUp 
{
    width: 150px;
}
#Backspace
{
    width: 340px;
}
#Enter
{
    width: 400px;
}
